
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&display=swap');
:root{
    --bg-color-body : #485b61;
    --color-titre : black;
    --color-red : #ff0000;
    --color-green : rgb(17, 230, 123);
}

body {
    background-color: var(--bg-color-body );    
    margin: 0;
    padding: 0;
}
.titre{   
    font-weight: bold;
    color: var(--color-titre);
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;
    font-family: 'Great Vibes', cursive;
}
.italic{
    font-style: italic;
    color: var(--color-red);
    z-index: 1;
}
.form-control{
    border-color: var(--color-red);
}
.material-symbols-outlined{
    color: var(--color-red);
    cursor: pointer;  
    float: right;   
}
.container{    
    border: 1px solid ;
    margin-top: 3em;
    border-radius: 10px;
    width: 20%;
    height: auto;
    padding-bottom: 4em;
    background-image: url("image/plage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
    z-index: -2;
}
.text-center{
    color:var(--color-green);
    font-family: 'Edu QLD Beginner', cursive;
}
.container > img{
    filter: blur(5px);
}
